function stConfig = ecahook_post_analysis(stConfig, stAdditionalInfo)
%%%%%
%   stConfig = ecahook_post_analysis(stConfig, stAdditionalInfo)
%
%   stConfig : for post-analysis hook an empty structure
%
% -----------------------------------------------------------------------------
% 
% Additional Infos
% 
% -----------------------------------------------------------------------------
%
%   stAdditionalInfo           (struct)    struct containing the following fields
%      .sModelName             (string)       the model's name
%      .sModelPath             (string)       the model's path 
%      .sInitFilePath          (string)       the init file's path
%      .sInitFileName          (string)       the init file's name
%      .sStubCodeFolder        (string)       the stub Code Folder
%      .casReferencedModels    (cell)         all models referenced by the main model
%      .bIsWrapperMode         (boolean)      special mode that is active in the Wrapper workflow
%      .sWrappedAutosarModel   (string)       the wrapped AUTOSAR model in the Wrapper wofklow
%      .sAddModelinfoFile      (string)       the additional model information XML file
%      .sCodeModelFile         (string)       the code model XML file
%      .sMappingFile           (string)       the mapping XML file
%
%%%%%%
end