function stConfig = ecahook_param_blacklist(stConfig, stAdditionalInfo)
% stConfig (Struct)
%   .casParamlist    (Cell-Array-String)       Excluded parameters name (regexp is supported)
%
%
%%
%-------------------------------- Examples --------------------------------
% stConfig.casParamlist = {'param1', 'param2'};
%---------------------------------------------------------------------------
%
% -----------------------------------------------------------------------------
% 
% Additional Infos
% 
% -----------------------------------------------------------------------------
%
%   stAdditionalInfo           (struct)    struct containing the following fields
%      .sModelName             (string)       the model's name
%      .sModelPath             (string)       the model's path 
%      .sInitFilePath          (string)       the init file's path
%      .sInitFileName          (string)       the init file's name
%      .sStubCodeFolder        (string)       the stub Code Folder
%      .casReferencedModels    (cell)         all models referenced by the main model
%      .bIsWrapperMode         (boolean)      special mode that is active in the Wrapper workflow
%      .sWrappedAutosarModel   (string)       the wrapped AUTOSAR model in the Wrapper wofklow
%      .stAutosarMetaInfo      (struct)       struct containing additional AUTOSAR info for AR models
%
%

%%
% -----------------------------------------------------------------------------
% 
% DEFAULT VALUES
% 
% -----------------------------------------------------------------------------
%
% stConfig = struct( ...
%     'casParamlist', {{}});
end