function stConfig = ecahook_post_wrapper_create(stConfig, stAdditionalInfo)
%%%%%
%   stConfig = ecahook_post_wrapper_create(stConfig, stAdditionalInfo)
%
%   stAdditionalInfo : structure containing
%     Model:                   : (string) : the model's name
%     WrapperModel:            : (string) : the name of wrapper model
%     WrapperInitScriptFile:   : (string) : the init file's path of wrapper model
%     SchedulerSubsystem:      : (string) : name of the scheduler subsystem
%
%   stConfig : for post-wrapper hook an empty structure
%%%%%%
end